.home {
    margin: 100px 0;

    h1 {
        margin-bottom: 20px;
    }

    &_tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}
